<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulldogs</title>
    <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />  
</head>
<body>
  <div class="grid-container">
    <nav id="image" class="grid-nav">
      <div class="main_list">
        <ul class="grid-nav-main navlinks quick-sand-family">
          <li><a class="li-excluded-logo pulse_efect" href="#"><img class="nav-img" src="../media/logo.png"
                onmouseout="volverNormalidad()" /></a></li>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./bulldogs.html">Bulls</a></li>
          <li><a href="./frencies.html">Frenchies</a></li>
          <li><a href="./pugs.html">Pugs</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="centrado">
        <div dir="texto-bienvenida" class="texto-centrado quick-sand-family">
          <b>
            < Welcome to I ♥ Bulldogs /></b>
        </div>
      </div>
    </nav>

    <!-- HEADER -->

    <header class="grid-box teaser quick-sand-family joel-life-animation">
        <h1 class="joel-life-header">
          <span>J</span><span>O</span><span>E</span><span>L</span><span>'</span><span>S</span> <span> 
          <span>L</span><span>I</span><span>F</span><span>E</span>
        </h1>
    </header>

    <!-- HEADER END -->

    <!-- MAIN -->

    <main class="grid-box">
      <h2 class="quick-sand-family h2_main main_title">Joel's History</h2>
      <div class="video-media-youtube quick-sand-family">
        <ul class="video__container">
          <li class="li_main video__content">
            <ul class="video-media-youtube-inner">
              <li class="li_main media__embed">
                <h3 class="h3_main">Hola ! Mi nombre es Joel !</h3>
                <div class="video-media-youtube-inner-vi video-media-youtube-inner-vi--ratio">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic iste itaque ratione quas quae,
                    nesciunt officiis doloremque ipsa tempora laborum non atque optio dolorem amet? Debitis beatae
                    impedit ut minus!
                    Fugit corrupti ab dolore id voluptatum magni temporibus voluptas modi explicabo beatae voluptates
                    libero ad accusamus iusto iste optio voluptate, et quo, neque eum facere quasi sit illum fuga.
                    Dignissimos.
                    Eligendi saepe, corrupti ex exercitationem nostrum eum porro quisquam itaque nemo ea ipsam, optio
                    consequuntur tempora quos molestiae a vero nihil reiciendis! Labore inventore, accusamus
                  </p>
                </div>
              </li>

              <li class="li_main media__embed">
                <h3 class="h3_main">Aquí te dejo un video de mi casa :)</h3>
                <div class="video-media-youtube-inner-vi video-media-youtube-inner-vi--ratio">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Jv-OgYw2ums"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </li>
            </ul>
          </li>
      </div>
    </main>

    <!-- MAIN END -->

    <!-- ASIDE -->

    <aside class="grid-box quick-sand-family">
      <h2>Joel's profile</h2>
      <div class="card">
        <img src="../media/Bulldogtribe-Ettore-perfil.jpg" alt="Person" class="card__image card__image_profile">
        <p class="card__name">Joel Castillo</p>
        <div class="grid-container-aside">

          <div class="grid-child-posts">
            <b>Género: </b> Macho
          </div>

          <div class="grid-child-followers">
            <b>Edad:</b> 1 año
          </div>

        </div>
        <ul>
          <li>Nombre dueño: NOMBRE</li>
          <li>Dirección: DIRECCION</li>
          <li>Teléfono: TELEFONO</li>
          <li>Comida favorita: COMIDA</li>
        </ul>
        <button class="btn-message">Send me a message!</button>
      </div>
    </aside>

    <!-- ASIDE END -->

    <!-- PHOTO GALLERY -->

    <div class="grid-box photos">
      <div class="quick-sand-family">
        <h2 class="h2_main main_title">Galería</h2>
      </div>
      <div class="gallery gallery_container">
        <div><img class="zoom-in-animation" src="../media/logo-bulldogs.png" alt></div>
        <div><img class="zoom-in-animation" src="../media/logo-bulldogs.png" alt></div>
        <div><img class="zoom-in-animation" src="../media/logo-bulldogs.png" alt></div>
        <div><img class="zoom-in-animation" src="../media/logo-bulldogs.png" alt></div>
      </div>
    </div>
  
    <!-- PHOTO GALLERY END -->

    <!-- FOOTER -->

    <footer class="grid-box sub-grid">
      <h2 class="h2_footer">Siguenos en nuestras redes sociales !</h2>
      <div class="sub-grid-box footer-box-1">
        <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
      </div>
      <div class="sub-grid-box footer-box-2">
        <a href="https://www.twitter.com/" class="fa fa-twitter" target="_blank"></a>
      </div>
      <div class="sub-grid-box footer-box-3">
        <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
      </div>
      <div class="sub-grid-box footer-box-4">
        <a href="https://www.google.com/" class="fa fa-google" target="_blank"></a>
      </div>
    </footer>
    </div>

    <!-- FOOTER END -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
        $(window).scroll(function () {
          if ($(document).scrollTop() > 50) {
            $(".nav").addClass("scroll-oscurecer");
            $(".texto-centrado").addClass("desaparecer-texto");
            console.log("Navbar negro");
          } else {
            $(".nav").removeClass("scroll-oscurecer");
            $(".texto-centrado").removeClass("desaparecer-texto");
            console.log("Navbar negro deshabilitado");
          }
        });
  
        function volverNormalidad() {
          $(".nav-img").addClass("volver-normalidad");
          console.log("Volviendo a la normalidad lento...");
        }
      </script>

</body>
</html>